* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background:#000814;
    color: white;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    padding: 20px;
  margin:0;
  position:relative;
  

}
h1, p, button{
  position:relative;
  z-index:2;
  text-shadow: 0 0 9px rgba(0,200,255,0.6);
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: clamp(28px, 6vw, 60px);
    line-height: 1.9;
    letter-spacing: 2px;

}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(14px, 2.5vw, 22px);
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    gap: 23px;
    padding: 3px;
    font-size: 32px;



}

@media (max-width:768px) {
    body {
        overflow: auto;
        padding: 20px;
    }

    .buttons {
        flex-direction: column;

    }

  

}
@media (max-width:556px) {
 .title{
     line-height: 1.1;
   }
.subtitle {
     line-height: 1.3;
}
}

.buttons button {
    background-color: #000;
    color: white;
    border: 2px solid grey;
    border-radius: 6px;
    width: 100%;
    margin-top: 5px;
    gap: 50px;
    padding: 10px 5px;
    font-weight: 600;
    font-size: clamp(14px, 2vw, 19px);
}
.buttons button:hover{
    background-color: white;
    color: #000;
}

.fish{
  position:absolute;
  width:40px;
  height:20px;
  background:linear-gradient(to right,#00d0ff,#0077aa);
  border-radius:50%;
  top:60%;
  left:-60px;
  animation: swim 18s linear infinite;
  filter: blur(0.5px);
}

.fish::after{
  content:"";
  position:absolute;
  right:-10px;
  top:5px;
  border-left:10px solid #0077aa;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
}

.fish2{
  top:75%;
  animation-duration:25s;
  transform:scale(0.8);
}
@keyframes waterMove{
  0%{ transform:translate(0,0) rotate(0deg); }
  50%{ transform:translate(3%,6%) rotate(8deg); }
  100%{ transform:translate(-4%,4%) rotate(-6deg); }
}

@keyframes wave{
  from{ transform:translateY(0); }
  to{ transform:translateY(-100px); }
}

@keyframes swim{
  from{ left:-60px; }
  to{ left:110%; }
}
